/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
  url('../fonts/lato-v22-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v22-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
  box-sizing: border-box; s
}
*,*::before,::after{
  box-sizing: inherit;
}
body{
  font-family: 'Lato';
  font-style: normal; 
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}
img{
  max-width: 100%;
  height: auto;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}
.section-title{
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section-title:after{
  display: block;
  content: "";
  width: 253px; 
  height: 3px;
  background-color: #006DEF;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*HEADER-----------------------------------------------------------------*/
.header{
  position: absolute;
  width: 100%;
}
.header__wrapper{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;  
}
.header__list{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
}
.header__item{
  margin-right: 82px; 
}
.header__item:last-child{
  margin-right: 0; 
}
.header__link{
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
  opacity: .75;
}
/*INTRO------------------------------------------------------------------*/
.intro{
  height: 120vh;
  z-index: 9; 
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;   
  padding-top: 263px;
  background-position: center center;
}
.intro__title{
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0px;
  color: #ffff;
  max-width: 619px;
  margin-bottom: 22px;
}
.intro__subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  max-width: 546px;
  margin-bottom: 59px;
}
.search-form__info{
  display: flex;
  flex-wrap: wrap;
}
.search-form__field{
  background: transparent url(../img/circle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500; 
  color: #ffff;
}
.search-form__field::placeholder{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500; 
  color: #ffff;
}
.search-form__submit{
  padding: 15px 39px; 
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  background-color:#1B7DFF;
  border-color: transparent;
  border: 0;
  color: #ffff;
}
.search-form__submit:hover,.search-form__submit:focus,.search-form__submit:active{
  background-color: #74b0ff; 
}
/*ADAPTIVE---------------------------------------------------------------*/
@media screen and (max-width: 1280px){
  .wrapper{
    max-width: 900px;
  }
} 
@media screen and (max-width: 1024px){  
}
@media screen and (max-width: 768px){
  .wrapper{ 
    max-width: 580px;
  }
  .header__item{
    margin-right: 65px;
  }
  .intro{
    height: 100vh;
  }
}
@media screen and (max-width: 425px){
  .wrapper{ 
    max-width: 350px;
  }
  .intro{
    padding-top: 150px;
  }
  .intro__title{
    font-size: 42px;
  }
  .search-form__submit{
    font-size: 18px;
    margin-top: 20px;
  }
  .search-form__field{
    margin-top: 20px;
  }
  #menu__toggle{
    opacity: 0;
  }
  .menu__btn {
    display: flex; 
    align-items: center;  
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,.menu__btn > span::before,.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .header__menu{
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 0;
    right: -100px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    color: black;
    background-color: rgba(61, 86, 120, .95);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .menu__btn {
    display: flex; 
    align-items: center;  
    position:absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header__link {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .header__link:hover {
    background-color: #CFD8DC;
  }
  .header__list{
    display: block;
  }
  .header__nav{
    margin: 0 auto;
  }
  .menu__btn > span,.menu__btn > span::before,.menu__btn > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before{
    content: '';
    top: -8px;
  }
  .menu__btn > span::after{
    content: '';
    top: 8px;
  }
  #menu__toggle:checked ~ .menu__btn > span{
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header__menu{
    visibility: visible;
    right: 0;
  }
  .header__item{
    margin-right: 0; 
  }
   .header__logo{
    margin:0 auto;
    position: relative; 
    top: -35px;
  }
}
@media screen and (max-width: 375px){
  .header_link{
    font-size: 14px;
  }
  .wrapper{ 
    max-width: 340px;
  }
  .intro{
    padding-top: 150px;
  } 
}
@media screen and (max-width: 320px){
  .wrapper{
    max-width: 280px;
  }
  .intro{
    padding-top: 90px;
    width: 100vw;
  }
  .search-form__submit{
    padding: 15px 29px; 
    font-size: 16px;
  }
  .intro__title{
    font-size: 24px; 
    line-height: 32px; 
    font-weight: 600;
    text-align: center; 
  }
  .intro__subtitle{
    font-size: 14px;
    margin-bottom: 19px;
  }
  .search-form__field{
    background-size: 15px;
    margin-right: 30px;
    width: 235px;
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 500; 
    color: #ffff;
  }
  .search-form__field::placeholder{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500; 
    color: #ffff;
  }
  .search-form__submit{
    padding: 10px 20px; 
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }
}
/*-----------------------------------------------------------------------*/
.benefits{
}
.benefits__wrapper{
  max-width: 1260px;
  margin: 0 auto;
  position: relative; 
}
.benefits__content{
  position: relative;
  height: auto;
  top: -200px;
  background-color: #fff; 
  box-shadow: 0px 2px 20px rgba(21, 24, 36, .16);
}
.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.benefits__card{
  grid-column: span 1;
  margin-bottom: 100px;
}
.benefits__title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 90px 105px 88px 105px;
  background-color: #fff;  
}
.benefits__card-icon{
  margin-bottom: 37px;  
}
.benefits__card-thumb{
  display: block;
}
.benefits__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}
.benefits__card-text{
  font-size: 16px; 
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits__card-cta{
  display: inline-block;
  padding-right: 59px;
  font-size: 16px; 
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none; 
  color: #006DFE;
  background: url(../img/arrow.svg) no-repeat 95% center;
}
.benefits__card-cta:hover, .benefits__card-cta:focus{
  opacity: .75;
  background: url(../img/arrow.svg) no-repeat right center;
  transition: 0.2s all;
}
/*ADAPTIVE---------------------------------------------------------------*/
@media screen and (max-width: 1280px){
  .benefits__wrapper{
    max-width: 1100px;
  }
  .benefits__cards{
    padding: 0 75px;
  }
} 
@media screen and (max-width: 1024px){
  .benefits__wrapper{
    max-width: 900px;
  }
  .benefits__cards{
    padding: 0 50px;
    height: auto
  }
  .benefits__title{
    padding: 75px 105px 75px 90px;
  }
} 
@media screen and (max-width: 768px){
  .benefits__wrapper{
    max-width: 768px;
  }
  .benefits__content{
    position: relative;
    height: auto;
    top: 0px;
    background-color: #fff; 
    box-shadow: 0px 0px 0px rgba(21, 24, 36, .16);
  }
 .benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    padding: 0 73px;
  }
}
@media screen and (max-width: 425px){
  .benefits__cards{
    grid-template-columns: repeat(1, 3fr);
    grid-column-gap: 55px;
    padding: 0 50px;
  }
  .benefits__card{
    box-shadow: 0px 2px 20px rgba(21, 24, 36, .16);
    margin-bottom: 50px; 
    padding: 15px; 
    background-color:#fafcff;  
  }
  .benefits__title{
    padding: 65px;  
  }
  .benefits__cards{
    padding: 0 30px; 
  }
} 
@media screen and (max-width: 375px){
  .benefits__title{
    padding: 35px;  
  }
} 
@media screen and (max-width: 320px){
  .benefits__title{
    padding: 40px 25px;  
  }
}
/*PLACES-----------------------------------------------------------------*/
.wrapper-full{
  max-width: 1260px; 
  margin: 0 auto;
}
.places{
  margin-bottom: 131px;
}
.places__top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places__title{
  margin-right: 15px;
}
.link-view{
  text-transform: uppercase;
  font-size: 16px;
  color: #006DEF;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/arrow.svg) no-repeat right center;
}
.link-view:hover,  .link-view:focus, .link-view:active{
  opacity: .75;
  text-decoration: none;
}
.places__cards{
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-gap: 10px;
}
.places__card{
  position: relative; 
  overflow: hidden;
}
.places__card:after{
  display: block;
  width: 100%;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.places__card:hover .places__card-pic{
  transform: scale(1.05);
  transition: 0.2s all;
}
.places__card-title{
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  position: absolute; 
  color: white;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places__card-pic{
  width: 100%;
}
.places__card_size_lg{
  grid-column: span 3;
}
.places__card_size_sm{
  grid-column: span 2;
}
.places__card-pic_size_lg{
  height: 354px;
  object-fit: cover;
}
.places__card-pic_size_sm{
  height: 283px;
  object-fit: cover;
}
.places__card-link{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/*ADAPTIVE---------------------------------------------------------------*/
@media screen and (max-width: 1280px){
  .wrapper-full{
    max-width: 1100px;
  }
}
@media screen and (max-width: 1024px){
  .wrapper-full{
    max-width: 900px;
  }
}
@media screen and (max-width: 768px){
  .wrapper-full{
    margin: 0 30px;
  }
  .places__card-title{
    font-size: 42px;
  }
   .places__card-pic_size_lg{
    height: 300px;
    object-fit: cover;
  }
  .places__card-pic_size_sm{
    height: 240px;
    object-fit: cover;
  }
}
@media screen and (max-width: 425px){
  .section-title{
    font-size: 26px;
  }
  .places__link{
   margin-top: 10px;
  }
  .places__cards{
    grid-template-columns: repeat(1,1fr);
  }
  .places__card-pic_size_lg{
    height: 240px;
  }
  .places__card-pic_size_sm{
    height: 240px;
  }
  .places__card_size_sm{
    grid-column: span 3;
  }
  .link-view{
    background: none;
    margin-top: 15px;
  }
}
@media screen and (max-width: 375px){}
@media screen and (max-width: 320px){
  .places{
    margin-bottom: 110px;
  }
  .places__card-title{
    font-size: 38px;
  }
}
/*TOURS----------------------------------------------------------------*/
.tours{
  margin-bottom: 139px;
}
.tours__tour{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour__title{
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour__text{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}
.tour__info{
  padding-left: 47px;
}
.tour__pic{
  box-shadow: 0px 3px 15px rgba(21, 24, 36, 0.4);
}
/*ADAPTIVE---------------------------------------------------------------*/
@media screen and (max-width: 1280px){
}
@media screen and (max-width: 1024px){
  .tours__tour{
   grid-gap: 0 45px;
  }
  .tour__title{
    margin-bottom: 45px;
  }
  .tour__text{
    margin-bottom: 35px;
  }
  .tour__info{
    padding-left: 37px;
  }
}
@media screen and (max-width: 768px){
  .tours__tour{
   margin-bottom: 40px;
  }
  .tour__title{
    margin-bottom: 25px;
  }
  .tour__text{
    margin-bottom: 25px;
  }
  .tour__info{
    padding-left: 0px;
  }
}
@media screen and (max-width: 425px){
  .tours__tour{
    grid-template-columns: repeat(1,1fr);
  }
  .tours__tour{
   grid-gap: 35px 0;
  }
  .tour__title{
    margin: 25px 0;
    text-align: center;
  }
  .tour__text{
    margin-bottom: 25px;
    text-align: center;
  }
  .tour__info{
    padding-left: 0px;
  }
  .tour__pic{
    object-fit: cover;
  }
}
@media screen and (max-width: 375px){
  .tour__title{
    font-size: 28px;
  }
}
@media screen and (max-width: 320px){
  .tour__title{
    margin: 15px 0;
    font-size: 24px;
  }
}
/*TODAY---------------------------------------------------------------*/
.today{
  margin-bottom: 86px;
}
.today__card{
  display: flex;
  flex-direction: column;
}
.today__cards{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}
.today__title{
  margin-bottom: 54px;
}
.today__card-pic{
  position: relative;
  margin-bottom: 45px;
  box-shadow: 0px 2px 10px rgba(21, 24, 36, 0.4); 
}
.today__card-stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, .6);
  padding: 16px 25px;
}
.today__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px; 
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 0 0;
}
.today__card-title:hover{
  color: #74b0ff; 
}
.today__card-likes{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; 
  color: #fff;
  padding-right: 20px;
  background: url(../img/heart-icon.svg) no-repeat right;
  margin-right: 14px;
}
.today__card-comments{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; 
  color: #fff;
  padding-right: 23px;
  background: url(../img/comments.svg) no-repeat right;
}
.today__card-text{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}
.today__card-cta{
  width: 118px;
  padding: 12px 19px; 
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  background-color:#1B7DFF;
  border-color: transparent;
  border: 0;
  color: #ffff;
  text-decoration: none;
  margin: auto 0 0 0;
}
.today__card-cta:hover,.today__card-cta:focus,.today__card-cta:active{
  background-color: #74b0ff; 
}
/*ADAPTIVE---------------------------------------------------------------*/
@media screen and (max-width: 1280px){
}
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 425px){
  .today__cards{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 375px){
}
@media screen and (max-width: 320px){
}
/*VIDEO---------------------------------------------------------------*/
.video{
  width: 100%;
}
.video__wrapper{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video__item{
  padding-top: 56.25%;
}
.video__element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*FOOTER---------------------------------------------------------------*/
.footer{
  background: #0E1D28;
  padding: 119px 0;
}
.footer__item{
  display: flex;
  flex-wrap: wrap;
}
.footer__logo{
  width: 50%;
}
.footer__nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}
.footer__menu-title{
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.footer__menu-link{
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
  opacity: .75;
  color: #74b0ff;
}